<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hooked</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Font-Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Stylings -->

  <link rel="stylesheet" href="/styles/combined.css">
  <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">


   <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- JS -->
  <script src="/scripts/events.js"></script>
  <script type='text/javascript' src="/scripts/filter.js"></script>
  <script type='text/javascript' src="/scripts/search.js"></script>


</head>
<body>
 <%- include('partials/_header.ejs') %>
  <main class="rounded">
      <div class="searchDiv">
        <h2 class="searchWord">Search:</h2>
          <input placeholder="What are you looking for?" id="searchContent" type="text">
          <br>
          <div class="searchInput">
            <a class="searchIcon" href="#"><span class="search-icon fa fa-search fa-lg"></span></a>
          </div>
      </div>
          <div>
            <label for="category-filter">Category:</label>
            <select class="category-filter">
              <option value="all">all</option>
              <% for(let ele of categories) { %>
                <option value="<%= ele.name %>"><%= ele.name %></option>
              <% } %>
            </select>
          </div>
     <br>
    </main>
    <div class="hooked-feed rounded" id="hooksContainer">
        <% for (const post in userPosts){ %>
          <div class="hooked-post rounded" name="<%= userPosts[post].category %>">
          <div class="title">
              <span class="titleSpan"><%= userPosts[post].title %></span>
              <span class="usernameSpan"><%= userPosts[post].username %></span>
            </div>
            <hr class="mainHeader">
            <div class="content">
              <span class="post-description">Description: <%= userPosts[post].description %></span>
              <span class="post-content">Content:
              <a href="<%= userPosts[post].content%>"><%= userPosts[post].content %> </a>
              </span>
            </div>

          <% if(id) { %>
            <hr>
            <div class="hook-ratings">
              <div class="avgRating">
                <div class="rating">
                  <span class="avgRating">Rating:
                    <% if (avgRatings[post].round) { %>
                      <%=avgRatings[post].round %>
                    <% } else { %>
                      0
                    <% } %>

                    </span>
                </div>
                <div class="ratingInputs">
                <form class="rate-post" method="POST" action="/posts/<%= userPosts[post].id %>/rating">
                  <input class="ratingValue"  name="rating" value="0" type="number" min="0" max="5"> /5 Stars
                  <button onclick="makeNewRating(<%= userPosts[post].id %>, this)" class="addRatingSubmit" type="submit" class="btn btn-primary" >Rate Post</button>
                </form>
              </div>
              </div>

              <div>
              <span onclick="likePost(<%= userPosts[post].id %>, this)" class="fa fa-thumbs-up"></span> <span class="numbOfLikes"> <% if (likesArray[post]) { %>
                <%= likesArray[post].love %>
                <% } else { %>
                  0
                <% } %></span>
            </div>
            </div>
            <hr>

            <div class="addComment">
              <span>Add Comment:</span>
              <textarea name="comment" id="commentBox" cols="20" rows="10"></textarea>
              <button onclick="addNewComment('<%= currentLoggedInUsername.username %>', <%= Number(post+1) %>)" id="addNewComment" value="Hook a comment!">Hook a comment!</button>
              <br>
              <span>Comments: </span>
            </div>
          <% } %>
          <div class="commentFeed">

            <% for (comment of commentsArray[post]) { %>
              <div class="comment">
                  <span class="commentUsername"><%= comment.username %>:</span>
                  <p class="commentContent">
                    <%= comment.comment %>
                  </p>
                </div>

            <% } %>
            </div>

          </div>

        <% } %>

  </div>
  </div>
</body>
</html>
